@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" );
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" );
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* img {
  border-style: none; } */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button; }

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: "UTM Aquarelle";
  src: url("../fonts/UTM Aquarelle.ttf"); }

@font-face {
  font-family: "UTM Caviar";
  src: url("../fonts/UTM Caviar.ttf"); }

* {
  box-sizing: inherit;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 2rem;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-size: 1.4rem;
  font-family: "Times New Roman", sans-serif; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #818181;
  text-decoration: none; }
  a:hover {
    color: #e6ae48; }

.active {
  color: #e6ae48 !important; }

.desc {
  color: #818181 !important; }

@keyframes megaMenuGrowth {
  from {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }

@keyframes slideToTop {
  from {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes pulse-border {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); } }

.header__top {
  position: relative;
  color: #818181;
  font-size: 1.2rem;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10; }
  .header__top--index .header__top-link {
    color: #cacaca; }
  .header__top--index button em:before {
    color: #fff !important; }
  @media (max-width: 576px) {
    .header__top--index .header__top-link {
      color: #818181; }
    .header__top--index button em:before {
      color: #252525 !important; } }
  .header__top-list {
    padding: 0;
    margin: 0; }
    @media (min-width: 768px) {
      .header__top-list {
        margin-bottom: 0; } }
  .header__top-item {
    display: inline-block; }
    @media (max-width: 768px) {
      .header__top-item:nth-child(n):not(:nth-child(4)):not(:nth-child(5)) {
        display: none; }
      .header__top-item:nth-child(4)::before {
        content: "" !important; } }
  .header__top-item + .header__top-item::before {
    content: "  -  ";
    white-space: pre; }
  .header__top-link {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #818181; }
    .header__top-link:hover {
      color: #e6ae48;
      text-decoration: underline; }
  @media (max-width: 576px) {
    .header__top form {
      width: 160px; } }
  .header__top form input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    border-left: 1px solid #cacaca;
    font-size: 1.2rem; }
    .header__top form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #cacaca;
      font-style: italic; }
    .header__top form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #cacaca;
      font-style: italic; }
    .header__top form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #cacaca;
      font-style: italic; }
    .header__top form input:-moz-placeholder {
      /* Firefox 18- */
      color: #cacaca;
      font-style: italic; }
  .header__top form button em:before {
    color: #818181; }

.header .carousel-inner, .header .carousel-item {
  height: 70vh; }

.header__carousel {
  position: relative;
  top: -33px;
  left: 0;
  right: 0;
  margin-bottom: -33px; }
  .header__carousel-content, .header__carousel-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .header__carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .header__carousel-content {
    color: rgba(255, 255, 255, 0.8); }
  .header__carousel-title {
    position: relative;
    font-size: 20vw;
    font-family: "UTM Aquarelle", sans-serif;
    white-space: nowrap;
    display: table; }
  .header__carousel-year {
    font-size: 2vw;
    font-family: "Lobster", cursive; }
  .header__carousel-subtitle {
    position: absolute;
    top: 20%;
    left: 46%;
    right: 0;
    font-size: 4vw;
    font-family: "UTM Aquarelle", sans-serif; }

.header__nav {
  background-color: #000; }
  .header__nav-list {
    margin: 0 0 0 30px;
    padding: 0; }
  .header__nav-item {
    position: relative; }
    @media (min-width: 992px) {
      .header__nav-item {
        display: inline-block; } }
    @media (max-width: 992px) {
      .header__nav-item {
        padding: 4px 0;
        text-align: right;
        margin-right: 30px; } }
    .header__nav-item .mega-menu {
      -webkit-transform-origin: 230px top;
      -moz-transform-origin: 230px top;
      -ms-transform-origin: 230px top;
      transform-origin: 230px top;
      -webkit-animation: megaMenuGrowth ease-in 0.25s;
      -moz-animation: megaMenuGrowth ease-in 0.25s;
      -ms-animation: megaMenuGrowth ease-in 0.25s;
      -o-animation: megaMenuGrowth ease-in 0.25s;
      animation: megaMenuGrowth ease-in 0.25s;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      display: none;
      min-width: 550px;
      width: 52vw;
      padding: 36px;
      position: absolute;
      top: 95px;
      left: -182px;
      background-color: #fff;
      border: 1px solid #e6ae48;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 10;
      will-change: opacity, transform; }
      .header__nav-item .mega-menu__item h3 {
        text-transform: uppercase; }
      .header__nav-item .mega-menu__list {
        padding: 0; }
      .header__nav-item .mega-menu__link {
        display: block;
        padding: 4px 0; }
      .header__nav-item .mega-menu img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
        @media (max-width: 1200px) {
          .header__nav-item .mega-menu img {
            padding-top: 20px; } }
      .header__nav-item .mega-menu::before {
        content: "";
        border: 10px solid;
        border-color: transparent transparent #e6ae48 transparent;
        position: absolute;
        top: -20px;
        left: 230px; }
      .header__nav-item .mega-menu::after {
        content: "";
        display: block;
        position: absolute;
        top: -82px;
        left: 170px;
        width: 150px;
        height: 82px; }
    @media (min-width: 992px) {
      .header__nav-item:hover > .mega-menu {
        display: block; } }
    .header__nav-item:hover > a {
      color: #e6ae48 !important; }
  .header__nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.4px; }
    @media (min-width: 992px) {
      .header__nav-link {
        padding: 70px 0; } }

.footer {
  padding-top: 100px; }
  .footer__brand-img {
    padding: 0; }
    .footer__brand-img img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .footer__brand {
    padding: 0 50px; }
  .footer__menu {
    padding-top: 50px; }
    @media (max-width: 992px) {
      .footer__menu {
        padding-bottom: 30px; } }
    .footer__menu-inner {
      margin-top: 20px; }
      .footer__menu-inner p {
        color: #818181; }
    .footer__menu-title {
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin-bottom: 14px; }
    .footer__menu-list {
      padding: 0; }
    .footer__menu-link {
      text-transform: uppercase; }
    .footer__menu-input {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      max-width: 244px;
      font-size: 1.2rem;
      padding: 6px 14px;
      border: 1px solid #000; }
      .footer__menu-input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #818181;
        font-style: italic; }
      .footer__menu-input::-moz-placeholder {
        /* Firefox 19+ */
        color: #818181;
        font-style: italic; }
      .footer__menu-input:-ms-input-placeholder {
        /* IE 10+ */
        color: #818181;
        font-style: italic; }
      .footer__menu-input:-moz-placeholder {
        /* Firefox 18- */
        color: #818181;
        font-style: italic; }
      @media (max-width: 1200px) {
        .footer__menu-input {
          max-width: 230px; } }
      @media (max-width: 576px) {
        .footer__menu-input {
          max-width: 200px; } }
    .footer__menu-social {
      margin-top: 22px; }
      .footer__menu-social a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        letter-spacing: 10px; }
    .footer__menu-address, .footer__menu-advise {
      color: #252525 !important; }
  .footer__bottom {
    margin-top: 26px;
    border-top: 1.4px solid rgba(202, 202, 202, 0.3);
    font-family: "Roboto", sans-serif;
    color: gray; }
    .footer__bottom span {
      padding: 10px 0; }

.button {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  padding: 0.4rem 1.6rem;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none; }
  .button:hover {
    background-color: #e6ae48;
    color: #fff; }

.button--arrow::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  border: 16px solid;
  border-color: transparent transparent transparent #000;
  left: 100%;
  top: 0; }

.button--arrow:hover::after {
  border-left-color: #e6ae48; }

.button--lg {
  font-size: 1.6rem;
  padding: 1rem 3rem; }

.button--gray {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgba(202, 202, 202, 0.6);
  color: #000; }

.button--save {
  background-color: #24c5d9; }

.button--add-update {
  padding: 0;
  border: none;
  background-color: transparent; }
  .button--add-update label {
    cursor: pointer;
    font-size: 1.8rem;
    color: #24c5d9;
    text-decoration: underline; }

.label-btn.button {
  padding: 0; }

.label-btn label {
  padding: 0.4rem 1.6rem;
  cursor: pointer; }

.carousel-btn {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 1.6rem;
  opacity: 1 !important;
  color: #000; }
  .carousel-btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: #e6ae48; }
  .carousel-btn:focus {
    color: #e6ae48; }

.product-img {
  position: relative;
  width: 100%;
  height: 100%; }
  .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .product-img__tag-sale, .product-img__tag-hot, .product-img__tag-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 10; }
    .product-img__tag-sale::before, .product-img__tag-hot::before, .product-img__tag-new::before {
      content: "";
      display: block;
      padding-top: 100%; }
    .product-img__tag-sale::after, .product-img__tag-hot::after, .product-img__tag-new::after {
      position: absolute;
      top: 10%;
      left: 10%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      font-size: calc(1rem + 0.4vw);
      text-transform: capitalize;
      color: #fff; }
      @media (max-width: 992px) {
        .product-img__tag-sale::after, .product-img__tag-hot::after, .product-img__tag-new::after {
          font-size: calc(1.6rem + 0.4vw); } }
      @media (max-width: 768px) {
        .product-img__tag-sale::after, .product-img__tag-hot::after, .product-img__tag-new::after {
          font-size: calc(1.6rem + 1vw); } }
  .product-img__tag-sale {
    background: linear-gradient(135deg, #e6ae48 47%, transparent 47% 49%, #e6ae48 49% 50%, transparent 50%); }
    .product-img__tag-sale::after {
      content: "sale"; }
  .product-img__tag-hot {
    background: linear-gradient(135deg, #ed301c 47%, transparent 47% 49%, #ed301c 49% 50%, transparent 50%); }
    .product-img__tag-hot::after {
      content: "hot"; }
  .product-img__tag-new {
    background: linear-gradient(135deg, #62af26 47%, transparent 47% 49%, #62af26 49% 50%, transparent 50%); }
    .product-img__tag-new::after {
      content: "new"; }

.product-block {
  margin-bottom: 5rem; }
  .product-block__name {
    text-transform: uppercase;
    margin-top: 2rem; }
  .product-block__price {
    font-size: 2rem; }
  .product-block__original-price {
    color: gray !important;
    text-decoration: line-through; }
    .product-block__original-price::before {
      content: " - ";
      white-space: pre; }
  .product-block:hover .product-img__option {
    -webkit-animation: slideToTop 0.8s ease forwards;
    -moz-animation: slideToTop 0.8s ease forwards;
    -ms-animation: slideToTop 0.8s ease forwards;
    -o-animation: slideToTop 0.8s ease forwards;
    animation: slideToTop 0.8s ease forwards; }
  .product-block:hover .product-block__name {
    color: #e6ae48; }
  .product-block--list .product-block__name {
    font-size: 2.6rem; }
  .product-block--list .product-block__price {
    font-size: 3.6rem; }

.product-img {
  overflow: hidden; }
  .product-img__option {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    padding: 0.3rem 0;
    color: #fff;
    background-color: #000; }

.carousel-indicators [data-bs-target] {
  background-color: #e6ae48; }

@media (max-width: 768px) {
  .product-carousel .row .col-12:nth-child(n):not(:first-child) {
    display: none; } }

@media (max-width: 992px) {
  .product-carousel .row .col-12:nth-child(2n) {
    display: none; } }

.customerReview__avatar {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 100px;
  height: 100px;
  margin: 2rem auto;
  overflow: hidden; }
  .customerReview__avatar img {
    width: 100%;
    height: auto; }

.customerReview__desc {
  margin-top: 2.2rem;
  color: #818181; }

.customerReview__job {
  font-size: 1.2rem;
  color: #cacaca;
  font-style: italic; }

.top-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1.4rem; }
  .top-title__title {
    font-size: 2.6rem;
    margin-bottom: 0.2rem; }
  .top-title--special {
    letter-spacing: 0.4rem; }
    .top-title--special h2 {
      font-size: 2rem; }

.blogCard__img {
  position: relative;
  overflow: hidden; }
  .blogCard__img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-fit: cover;
    z-index: -1; }
  .blogCard__img::before {
    display: block;
    content: "";
    padding-top: 62.5%; }

.blogCard__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to right bottom, transparent 50%, rgba(255, 255, 255, 0.3) 50%); }
  .blogCard__overlay::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    content: "\26AE";
    text-align: center;
    line-height: 42px;
    font-size: 2.2rem;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }

.blogCard__title {
  margin-top: 2rem;
  text-transform: uppercase; }

.blogCard__info {
  color: #cacaca; }

.blogCard__desc {
  color: #818181; }

.blogCard:hover .blogCard__overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

@media (max-width: 768px) {
  .blogCard {
    margin-bottom: 2rem; } }

.form-input {
  margin-top: 2rem; }
  .form-input__label {
    margin: 0.2rem 0; }
  .form-input__input {
    font-size: 1.6rem; }

.form-show {
  margin-bottom: 2.4rem; }

.breadcrumb {
  padding: 1.4rem 0 0; }

.pagination .page-item.active .page-link {
  background-color: transparent;
  color: #f26522; }

.pagination .page-link {
  padding: 0 0.4rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #cacaca; }

.pagination--two .page-item:first-child a, .pagination--two .page-item:last-child a {
  border: none;
  background-color: #000;
  color: white; }

.pagination--two .page-item.active .page-link {
  background-color: #818181;
  border-color: #818181;
  color: #fff; }

.pagination--two .page-link {
  padding: 0.6rem 1.4rem;
  margin: 0 1.4rem;
  font-family: "Times New Roman", sans-serif;
  border: 1px solid #cacaca;
  color: #000; }

.navTab .nav-link {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #818181;
  text-transform: uppercase; }
  .navTab .nav-link.active, .navTab .nav-link:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #e6ae48 !important;
    color: #fff !important; }

.navTab .tab-pane .desc {
  text-indent: 10px; }

.tag {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #818181;
  border: 1px solid rgba(202, 202, 202, 0.5); }
  .tag--active, .tag:hover {
    background-color: #e6ae48;
    color: #fff;
    border-color: #e6ae48; }
  .tag--special {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: rgba(202, 202, 202, 0.5); }
    .tag--special.tag--active, .tag--special.tag:hover {
      background-color: #f26522;
      border-color: #f26522; }

.intro {
  position: relative;
  padding: 94px 0;
  overflow: hidden; }
  .intro__bg-left {
    position: absolute;
    top: -70px;
    left: -12px;
    width: 24vw;
    z-index: -1; }
  .intro__bg-right {
    position: absolute;
    top: -70px;
    right: -12px;
    width: 8vw;
    z-index: -1; }
  .intro__desc {
    font-size: 1.6rem;
    color: #818181;
    margin: 10px 10% 28px 10%; }

.top-product__bg {
  background: url(../images/top-product-bg.jpg) top center/contain no-repeat;
  padding-top: 16vw; }

.top-product__block {
  padding: 6vw;
  margin: 6vw 6vw 0;
  background-color: #fff; }
  .top-product__block .product-img {
    padding: 8% 36% 0; }
    @media (max-width: 992px) {
      .top-product__block .product-img {
        padding: 8% 27% 0; } }
    .top-product__block .product-img__tag-sale::after, .top-product__block .product-img__tag-hot::after, .top-product__block .product-img__tag-new::after {
      font-size: calc(1.6rem + 1vw); }
      @media (max-width: 992px) {
        .top-product__block .product-img__tag-sale::after, .top-product__block .product-img__tag-hot::after, .top-product__block .product-img__tag-new::after {
          font-size: calc(1.2rem + 0.8vw); } }

@media (max-width: 768px) {
  .top-product__content {
    margin-top: 2.8rem; } }

.top-product .button {
  margin-top: 2.8rem; }

.top-product__desc {
  margin-top: 2rem;
  color: #818181; }

.top-product .countdown {
  margin-top: 40px;
  border: 1px solid #e6ae48;
  color: #e6ae48;
  text-transform: uppercase; }
  .top-product .countdown__item {
    border: 1px solid #e6ae48;
    padding: 18px 0; }
  .top-product .countdown__number {
    font-family: "UTM Caviar", sans-serif;
    font-size: 3rem; }

.price {
  font-family: "UTM Caviar", sans-serif;
  color: #e6ae48; }
  .price::after {
    content: "\20AB"; }
  .price--large {
    font-size: 3rem; }

@media (max-width: 768px) {
  .new-product {
    padding-top: 10rem; } }

.new-product .carousel,
.hot-product .carousel {
  margin-top: 5rem; }
  .new-product .carousel-indicators,
  .hot-product .carousel-indicators {
    display: none !important; }

.gallery {
  margin-top: 10rem; }
  .gallery__img {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 300px;
    overflow: hidden;
    cursor: pointer; }
    .gallery__img:hover {
      border: 5px solid #e6ae48; }
      .gallery__img:hover .gallery__content span,
      .gallery__img:hover .gallery__content h2 {
        opacity: 1;
        visibility: visible; }
  .gallery__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.3rem #252525; }
    .gallery__content span {
      opacity: 0;
      visibility: hidden; }
    .gallery__content h2 {
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      padding: 0 0.7rem 0.5rem;
      font-size: 7rem; }
      .gallery__content h2::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        content: "";
        height: 100%;
        width: 120%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff; }
      .gallery__content h2::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        content: "";
        width: 100%;
        height: 120%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff; }

.hot-product {
  padding: 10rem 0; }

.blog-customer .carousel-indicators {
  bottom: -60px !important; }
  .blog-customer .carousel-indicators button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 5px !important;
    height: 5px !important; }

@media (max-width: 768px) {
  .blog-customer .customerReview-container {
    margin-top: 10rem; } }

.popup .close-icon {
  position: absolute;
  top: -4rem;
  right: -4rem;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer; }
  .popup .close-icon::before, .popup .close-icon::after {
    position: absolute;
    top: 1.7rem;
    content: ' ';
    width: 3.4rem;
    height: 0.1rem;
    background-color: #fff; }
  .popup .close-icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .popup .close-icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  @media (max-width: 576px) {
    .popup .close-icon {
      top: 0.6rem;
      right: 0.6rem;
      width: 2.4rem;
      height: 2.4rem; }
      .popup .close-icon::before, .popup .close-icon::after {
        top: 1.2rem;
        width: 2.4rem;
        height: 0.1rem;
        background-color: #000; } }

.popup__close {
  display: none; }

#popupClose:checked ~ .popup__container {
  display: none; }

.popup__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); }

.popup__block {
  position: fixed;
  top: 50%;
  right: 20vw;
  left: 20vw;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: #fff; }
  @media (max-width: 768px) {
    .popup__block {
      left: 10vw;
      right: 10vw; } }

.popup__img {
  margin: auto; }
  .popup__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4vw 6vw 4vw 0; }
  @media (max-width: 992px) {
    .popup__content {
      padding-left: 6vw; } }
  .popup__content h2 {
    font-size: calc(3rem + 0.9vw); }
  .popup__content p {
    text-align: center;
    color: #818181; }
  @media (max-width: 768px) {
    .popup__content form input {
      padding-left: 1rem !important;
      padding-right: 1rem !important; } }
  .popup__content form .form-check {
    display: flex;
    justify-content: center; }

.about__img {
  background: url("../images/top-product-bg.jpg") center center/cover no-repeat;
  width: 100%;
  padding-top: 62.5%; }

.about__title {
  text-transform: uppercase;
  margin-top: 0; }
  @media (max-width: 992px) {
    .about__title {
      margin-top: 2rem; } }

.address__title {
  margin-bottom: 3.2rem;
  text-transform: uppercase; }

.address input[type="radio"] {
  display: none; }

.address__show {
  margin-top: 2.2rem; }

.address__show, .address__edit {
  display: none; }

.address input#addressEdit0:checked ~ #addressFormEdit0 {
  display: block; }

.address input#addressSave0:checked ~ #addressFormShow0 {
  display: block; }

.address input#addressDelete0:checked ~ #addressFormEdit0,
.address input#addressDelete0:checked ~ #addressFormShow0 {
  display: none; }

.address input#addressEdit1:checked ~ #addressFormEdit1 {
  display: block; }

.address input#addressSave1:checked ~ #addressFormShow1 {
  display: block; }

.address input#addressDelete1:checked ~ #addressFormEdit1,
.address input#addressDelete1:checked ~ #addressFormShow1 {
  display: none; }

.address input#addressEdit2:checked ~ #addressFormEdit2 {
  display: block; }

.address input#addressSave2:checked ~ #addressFormShow2 {
  display: block; }

.address input#addressDelete2:checked ~ #addressFormEdit2,
.address input#addressDelete2:checked ~ #addressFormShow2 {
  display: none; }

.blog .blogCard:hover .blogCard__title {
  color: #e6ae48; }

.blog .blogCard a {
  color: #e6ae48; }

.blog-detail__title {
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.blog-detail__new-post, .blog-detail__tags {
  margin-bottom: 2.8rem; }

.blog-detail__new-post .new-post {
  margin-bottom: 2.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }
  .blog-detail__new-post .new-post img {
    width: 100%;
    height: 7.6rem;
    object-fit: cover; }
  .blog-detail__new-post .new-post__title {
    color: #000; }
  .blog-detail__new-post .new-post__date {
    color: #cacaca; }

.blog-detail__video .video {
  position: relative;
  background: url("../images/latest-video.jpg") center center/cover no-repeat;
  width: 100%;
  padding-top: 62.5%; }
  .blog-detail__video .video__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    .blog-detail__video .video__play-btn span em {
      font-size: 4.6rem;
      color: rgba(255, 255, 255, 0.8); }
    .blog-detail__video .video__play-btn .border-animation {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: pulse-border 1.5s linear infinite;
      -moz-animation: pulse-border 1.5s linear infinite;
      -ms-animation: pulse-border 1.5s linear infinite;
      -o-animation: pulse-border 1.5s linear infinite;
      animation: pulse-border 1.5s linear infinite;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      width: 4.6rem;
      height: 4.6rem;
      border: 1rem solid rgba(255, 255, 255, 0.4); }
      .blog-detail__video .video__play-btn .border-animation--border-inner {
        animation-delay: 1s; }
      .blog-detail__video .video__play-btn .border-animation--border-outter {
        animation-delay: 1.5s; }

.blog-detail .blogCard__content {
  font-size: 2rem; }
  .blog-detail .blogCard__content a {
    display: none; }

.blog-detail .blogCard__title {
  margin-top: 4rem;
  font-size: 2.8rem; }
  @media (max-width: 576px) {
    .blog-detail .blogCard__title {
      margin-top: 2rem;
      font-size: 2.2rem; } }

.blog-detail .blogCard__desc {
  font-style: italic; }

.blog-detail .comment {
  margin-top: 5rem; }
  .blog-detail .comment__title {
    margin-bottom: 2.8rem;
    text-transform: uppercase; }
  .blog-detail .comment__form {
    font-style: italic; }
    .blog-detail .comment__form .col-form-label span {
      color: #ed301c; }
  .blog-detail .comment__list {
    margin-top: 5rem; }
  .blog-detail .comment__item {
    margin-bottom: 3.2rem; }
  .blog-detail .comment__header {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-style: italic;
    color: #818181;
    background-color: rgba(202, 202, 202, 0.4); }
    .blog-detail .comment__header button {
      padding: 0.4rem;
      border: none;
      font-style: italic;
      text-decoration: underline;
      color: #252525;
      background-color: transparent; }
  .blog-detail .comment__info {
    display: inline-block; }
  .blog-detail .comment__time {
    display: inline-block;
    padding-left: 1rem;
    border-left: 1px solid #cacaca; }

@media (max-width: 768px) {
  .cart__table {
    overflow: scroll; } }

.cart__table table {
  width: 100%; }
  .cart__table table tr {
    background-color: rgba(202, 202, 202, 0.1);
    border: 1px solid rgba(202, 202, 202, 0.5); }
    .cart__table table tr th,
    .cart__table table tr td {
      text-transform: uppercase;
      text-align: center;
      padding: 1.6rem 2rem; }
    .cart__table table tr td {
      font-size: 1.3rem; }
      .cart__table table tr td img {
        max-height: 150px; }
      .cart__table table tr td input {
        text-align: center;
        width: 6rem;
        line-height: 2.4rem;
        border: 1px solid #cacaca; }

.cart__remove {
  cursor: pointer; }

.cart__group-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 3rem; }
  @media (max-width: 576px) {
    .cart__group-button {
      justify-content: center; } }
  @media (max-width: 576px) {
    .cart__group-button a:first-child {
      width: 100%; } }

.contact__form, .contact__info, .contact__social {
  font-family: "Roboto", sans-serif;
  color: #818181; }

.contact__form input,
.contact__form textarea {
  background-color: rgba(202, 202, 202, 0.1); }

.contact__info {
  position: relative;
  margin-top: 1.6rem; }
  .contact__info em {
    position: absolute;
    top: 0.5rem;
    left: 0; }
  .contact__info p {
    margin-bottom: 0; }

.contact__social {
  margin-top: 3.6rem; }
  .contact__social nav {
    margin-top: 1.6rem; }
    .contact__social nav ul li {
      display: inline-block;
      margin-right: 1rem; }
      .contact__social nav ul li a em {
        font-size: 1.8rem; }

.register__header a {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.75rem; }

.register__title {
  text-transform: uppercase; }

.register__form {
  padding: 5rem 4% 0 4%; }

.product-banner__img {
  background: url("../images/slide-3.jpg") center center/cover no-repeat;
  width: 100%;
  padding-top: 23%; }

.product {
  padding: 4rem 0; }
  .product__sidebar .top-title__title {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    color: #000; }
  .product__category h4 {
    text-transform: uppercase;
    color: #818181; }
  .product__category .active::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em; }
  .product__compare, .product__tags, .product__ads {
    padding-top: 2.2rem; }
  .product__ads img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .product__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1.2rem;
    border: 1px solid #cacaca; }
    @media (max-width: 768px) {
      .product__header {
        margin-top: 4rem; } }
  .product__view label {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 1rem;
    cursor: pointer; }
    .product__view label:hover {
      color: #e6ae48; }
  .product input {
    display: none; }
    .product input#grid-view:checked ~ .product__header .product__view label[for="grid-view"] {
      color: #e6ae48; }
    .product input#grid-view:checked ~ .product__grid {
      display: block; }
    .product input#list-view:checked ~ .product__header .product__view label[for="list-view"] {
      color: #e6ae48; }
    .product input#list-view:checked ~ .product__list {
      display: block; }
  .product__grid, .product__list {
    display: none; }

.product-detail .thumbnail-carousel__control-prev, .product-detail .thumbnail-carousel__control-next {
  text-align: center;
  cursor: pointer; }
  .product-detail .thumbnail-carousel__control-prev:hover, .product-detail .thumbnail-carousel__control-prev:focus, .product-detail .thumbnail-carousel__control-next:hover, .product-detail .thumbnail-carousel__control-next:focus {
    color: #e6ae48; }

.product-detail .thumbnail-carousel__img {
  padding: 0 2rem; }
  .product-detail .thumbnail-carousel__img img {
    width: 100%;
    margin: 1rem 0;
    cursor: pointer; }
    .product-detail .thumbnail-carousel__img img:hover {
      opacity: 0.8; }
  .product-detail .thumbnail-carousel__img img + img::before {
    position: absolute;
    top: -0.5rem;
    content: "";
    width: 50%;
    height: 1px;
    background-color: red; }
  .product-detail .thumbnail-carousel__img .active {
    border: 2px solid #e6ae48; }

.product-detail__img {
  width: 100%; }
  .product-detail__img img {
    width: 100%; }

@media (max-width: 768px) {
  .product-detail__form {
    padding-top: 4rem; } }

.product-detail__price {
  font-size: 3.6rem; }

.product-detail__review {
  margin-top: 1rem;
  padding: 1.4rem 0;
  color: #818181;
  font-size: 1.2rem;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca; }

.product-detail .part-title {
  margin: 2.6rem 0 1rem;
  color: #818181;
  font-size: 1.6rem;
  text-transform: uppercase; }

.product-detail .product-detail__form .color-option__item {
  display: inline-block;
  padding: 0.2rem; }
  .product-detail .product-detail__form .color-option__item input {
    display: none; }
    .product-detail .product-detail__form .color-option__item input:checked ~ .square-box--lg {
      box-shadow: 0 0 0 1px #000; }
  .product-detail .product-detail__form .color-option__item label {
    cursor: pointer; }

.product-detail .product-detail__form .square-box {
  width: 3rem;
  height: 3rem; }
  .product-detail .product-detail__form .square-box--lg {
    width: 3.4rem;
    height: 3.4rem;
    padding: 0.2rem; }
    .product-detail .product-detail__form .square-box--lg:hover {
      box-shadow: 0 0 0 1px #000; }
  .product-detail .product-detail__form .square-box--yellow {
    background-color: #e6ae48; }
  .product-detail .product-detail__form .square-box--black {
    background-color: #000; }
  .product-detail .product-detail__form .square-box--red {
    background-color: #9c0001; }
  .product-detail .product-detail__form .square-box--white {
    background-color: #fff; }

.product-detail .product-detail__form .size-option select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-color: #cacaca;
  color: #818181;
  padding: 0.5rem 1.2rem;
  width: 12rem; }

.product-detail .product-detail__form .qty-option__input-group {
  display: inline-block;
  padding: 0.2rem;
  background-color: #cacaca; }
  .product-detail .product-detail__form .qty-option__input-group input {
    text-align: center;
    width: 7rem;
    line-height: 2.4rem; }
  .product-detail .product-detail__form .qty-option__input-group button {
    background-color: #cacaca; }
  .product-detail .product-detail__form .qty-option__input-group input,
  .product-detail .product-detail__form .qty-option__input-group button {
    font-size: 1.6rem;
    font-weight: bold;
    border: none; }

.product-tab,
.relevant-product {
  padding-top: 10rem; }

.product-tab__img {
  position: relative;
  min-height: 200px; }
  @media (max-width: 992px) {
    .product-tab__img {
      margin-top: 2rem; } }
  .product-tab__img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff; }

.relevant-product .carousel {
  margin-top: 5rem; }
  .relevant-product .carousel-indicators {
    display: none !important; }

.order__top {
  padding: 2.8rem;
  background-color: rgba(202, 202, 202, 0.1);
  border: 1px solid rgba(202, 202, 202, 0.3);
  border-bottom: none; }
  .order__top p a + a::before {
    content: "  |  ";
    white-space: pre; }
  .order__top-title {
    margin-bottom: 1.8rem;
    font-size: 1.6rem;
    text-transform: uppercase; }

@media (max-width: 768px) {
  .order__table {
    overflow: scroll; } }

.order__table table {
  width: 100%;
  counter-reset: rowNumber; }
  .order__table table tr th {
    text-transform: uppercase; }
  .order__table table tr td {
    font-size: 1.4rem; }
  .order__table table tr th,
  .order__table table tr td {
    border: 1px solid rgba(202, 202, 202, 0.5);
    text-align: center;
    padding: 1.6rem 2rem; }
  .order__table table tr > td:first-child {
    counter-increment: rowNumber; }
    .order__table table tr > td:first-child::before {
      content: counter(rowNumber); }

.user-info {
  padding: 2.8rem;
  background-color: rgba(202, 202, 202, 0.1);
  border: 1px solid rgba(202, 202, 202, 0.3); }
  .user-info h3 {
    text-transform: uppercase; }
  .user-info__item {
    position: relative;
    margin-top: 1.6rem; }
    .user-info__item em {
      position: absolute;
      top: 0.5rem;
      left: 0; }
    .user-info__item p {
      margin-bottom: 0; }
  .user-info a {
    color: #252525;
    font-size: 1.8rem;
    text-decoration: underline; }

.error__top {
  background: url("../images/404.jpg") top center/contain no-repeat;
  width: 100%;
  padding-top: 36%; }

.error__bottom {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase; }
  .error__bottom ul,
  .error__bottom li,
  .error__bottom a {
    margin-bottom: 0;
    display: inline-block;
    color: black; }

.error__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .error__nav-list {
    padding: 1rem 0; }
  .error__nav-logo {
    margin-right: 3rem; }
  .error__nav-item {
    margin-right: 2rem; }
    .error__nav-item::after {
      content: "\27A7"; }
  .error__nav-link {
    text-decoration: underline; }
  .error__nav form {
    margin: 2rem 0;
    max-width: 140px; }
